<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/forgotpassword.css">

    <title>forgotpassword</title>
</head>

<body>
    <div class="card">
        <form id="sendOtp" action="/sendOtp" method="POST">
        <p>You can reset your Password here</p>
        <input id="email" type="text" class="passInput" placeholder="Email address">
        <button id="otpbutton">Send OTP</button>
         </form>

         <form id="verifyingOtp" action="/verifyingOtp" method="POST"></form>
        <div id="otpSection" style="display: none;">
            <input id="otp" type="text" class="passInput" placeholder="Enter OTP">
            <button id="verifyOtpButton">Verify OTP</button>
        </div>
         </form>
    </div>

    <script>
        document.getElementById("sendOtp").addEventListener("click", function () {
            const email = document.getElementById("email").value
            if (!email) {
                alert("Please enter a valid email address.")
                return;
            }

            console.log(`OTP sent to ${email}`)
            alert("OTP has been sent to ypu email")

            document.getElementById("otpSection").style.display = "block";
        })
 
        document.getElementById("verifyOtpButton").addEventListener("click", function() {
            const otp = document.getElementById("otp").value
            if(!otp){
                alert("Please enter the OTP.")
                return;
            }
        })



    </script>
</body>

</html>