<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin-Pannel(Login)</title>
  <link rel="stylesheet" href="./assets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>

<body>
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form id="loginForm">
      <div class="row">
        <i class="fas fa-user"></i>
        <input id="email" type="text"  placeholder="Email or Phone" required />
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input id="password" type="password" placeholder="Password" required />
      </div>
      <div class="pass"><a href="#">Forgot password?</a></div>
      <div class="row button">
        <input type="submit" id="loginButton" value="Login" />
      </div>
      <div class="signup-link">Not a member? <a href="/signup">Signup now</a></div>
    </form>
  </div>
</body>
<script>
  document.getElementById("loginForm").addEventListener("submit", function(event){
          event.preventDefault()
         const email = document.getElementById("email").value
         const password = document.getElementById("password").value

         if(!email && !password){
             alert("Please fill all the field")
             return;
         }
          login(email,password)
  })
 
  function login(email, password) {
    fetch('/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ email, password }),  
    })
    .then(response => response.json())  
    .then(data => {
      if (data.message) {
        alert(data.message) 
        if (data.success) {
          window.location.href = "/dashboard";  
        }
      }
    })
    .catch(error => {
      console.error('Error:', error)
      alert('An error occurred during login')
    });
  }
    
    
</script>
</html>